<mat-card>
    <h2 class="additem">Add Item</h2>
    <input type="text" placeholder="Item name">
    <input type="number" placeholder="Year" min="1960">
    <label for="hehe">What color version is it:</label>
    <input type="color" id="hehe">
    <label for="avatar">add a photo:</label>

    <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">

    <mat-slide-toggle>Loose</mat-slide-toggle>
    <mat-slide-toggle>Box</mat-slide-toggle>
    <mat-slide-toggle>Manual</mat-slide-toggle>
    <mat-slide-toggle>Accessories</mat-slide-toggle>
    <mat-slide-toggle>Brand new</mat-slide-toggle>
    <input type="text" placeholder="Description">
    <button mat-fab color="warn" aria-label="submit item">
      <mat-icon>add</mat-icon>
    </button>
</mat-card>