/*
** Amaury PROJECT, 2021
** VideoGames_MuseumCompanion [WSL: Ubuntu-20.04]
** File description:
** app.component.scss
*/

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 h2 h3 h4 h5 h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #860000;
  color: white;
  font-size: large;
  font-weight: 600;
}

.title{
  font-size: 23px;
  font-weight: 600;
  text-align: center;
}

.toolbar img {
  margin: 0 16px;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.content input {
  border: 2px solid #555;
  border-radius: 4px;
  margin-top: 2%;
  margin-bottom: 2%;
}

input[type=text]:focus {
    border: 3px solid #aa0000;
    outline: none;
  }

footer {
  text-align: center;
  margin-top: 5%;
}

mat-slide-toggle{
  margin-bottom: 2%;
}