<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="../assets/logo_dashboard.png"
  />
  <span>Welcome 🕹</span>
  <div class="spacer"></div>
</div>
<div class="container-fluid" class="content">
  <div class="row">
    <span class="title">🕰 Museum Companion 📚</span>
    <input type="text" placeholder="Search for an Item...">
    <app-quick-stats class="component" class="col-sm-2"></app-quick-stats>
    <app-add-item class="component" class="col-sm-6"></app-add-item>
    <app-profile class="component" class="col-sm-4"></app-profile>
    <footer class="col-sm-12">
      <p>Made With ❤ by Amaury</p>
      <p>AMSoft ©2022</p>
    </footer>
  </div>
</div>